.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peech {
  width: 124px;
  height: 124px;
  position: relative;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description,
.supplement {
  text-align: center;
  font-weight: 100;
}

.description {
  margin: 1.5rem 0 0;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer div:first-of-type {
  flex: 1;
}

.footer > * {
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 250ms;
}

.footer:hover > * {
  opacity: 1;
}
